@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 100vh;
    background-color: #121213;
    display: grid;
    place-items: center;
}

header {
    width: 85%;
    height: 95%;
    /*border: 1px solid #fff;*/
    display: flex;
    flex-wrap: wrap;
}

header .menubox,
.songside {
    width: 25%;
    height: 90%;
    /*border: 1px solid #fff;*/
    background: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;

}

header .songside {
    width: 75%;
    background: #0b1320;
}

header .player {
    width: 100%;
    height: 10%;
    /*border: 1px solid #fff;*/
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
}

header .menubox h1 {
    font-size: 30px;
    margin: 15px;
    font-weight: 500;

}

header .menubox .homeicon {
    display: flex;

}

header .menubox .playlist {
    margin: 40px 0px 0px 20px;
}

header .menubox .playlist h4 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: .3s linear;
}

header .menubox .playlist h4:hover {
    color: #fff;
}

header .menubox .playlist h4 span {
    position: relative;
    margin-right: 35px;
}

header .menubox .playlist h4 span::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border: 2px solid #4c5262;
    border-radius: 50%;
    top: -4px;
    transition: .3s linear;
}

header .menubox .playlist h4:hover span::before {
    border: 2px soild #fff;
}

header .menubox .playlist h4 .bi {
    display: none;
}

header .menubox .playlist .active {
    color: #36e2ec;
}
header .menubox .playlist .active span {
    display: none;
}

header .menubox .playlist .active .bi {
    display: flex;
    margin-right: 20px ;
}

header .menubox .menu_song{
    width: 100%;
    height: 430px;
    /*border: 1px solid #fff;*/
    margin-top: 40px;
    overflow: auto;
}

header .menubox .menu_song::-webkit-scrollbar{
    display: none;
}

header .menubox .menu_song li{
    list-style-type: none;
    position: relative;
    padding: 5px 0px 5px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: .3s linear;
}

header .menubox .menu_song li:hover{
    background: rgb(105, 105, 105, .1);
}

header .menubox .menu_song li span{
    font-size: 12px;
    font-weight: 600;
    color: #4c5262;
}

header .menubox .menu_song li img{
    width: 50px;
    height: 50px;
    margin-left: 25px;
}

header .menubox .menu_song li h5{
    font-size: 11px;
    margin-left: 15px;
    width: 170px;
    /*border: 1px solid #fff;*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

header .menubox .menu_song li .subtitle{
    font-size: 9px;
    color: #4c5262;
}

header .menubox .menu_song li .bi{
    position: absolute;
    right: 15px;
    
}

header .player{
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

header .player .wave{
    width: 30px;
    height: 30px;
    /*border: 1px solid #fff;*/
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
}

header .player .wave .wave1{
    width: 3px;
    height: 10px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: unset;
}

header .player .wave .wave1:nth-child(2){
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
}

header .player .wave .wave1:nth-child(3){
    height: 8px;
    animation-delay: .8s;
}

header .player .active1 .wave1{
    animation: wave .5s linear infinite;

}

header .player .active1 .wave1:nth-child(2){
    animation-delay: .4s;
}

header .player .active1 .wave1:nth-child(3){
    animation-delay: .8s;
}

@keyframes waves{
    0% {
        height: 10px;
    }
    50% {
        height: 15px;
    }
    100% {
        height: 10px;
    }
}

header .player img{
    width: 40px;
    height: 40px;
}

header .player h5{
    width: 130px;
    /*border: 1px solid #fff;*/
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;

}

header .player h5 .subtitle{
    font-size: 11px;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}

header .player .icon{
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
}

header .player .icon .bi{
    cursor: pointer;
    outline: none;
}

header .player .icon .shuffle{
    font-size: 17px;
    margin-right: 10px;
    width: 18px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

header .player .icon .bi:nth-child(3){
    border: 1px solid rgb(105, 105, 105, .1);
    border-radius: 50%;
    padding: 1px 5px 0px 7px;
    margin: 0px 5px;
}

header .player span{
    color: #fff;
    width: 32px;
    /*border: 1px solid #fff;*/
    font-size: 11px;
    font-weight: 400;
}

header .player #currentStart{
    margin: 0px 0px 0px 20px;
}

header .player .bar{
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin: 0px 15px 0px 10px;
}

header .player .bar .bar2{
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0%;
    transition: 1s linear;
}

header .player .bar .dot{
    position: absolute;
    background: #36e2ec;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;

}

header .player .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    top: -6.5px;
    left: -6px;
    box-shadow: 0px 0px 3px #36e2ec ;
}

header .player .bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 999999999;
    opacity: 0;

}

header .player .vol{
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin-left: 50px;

}

header .player .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -30px;

}

header .player .vol input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 9999999;
    opacity: 0;
}

header .player .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;

}
header .player .vol .dot{
    position: absolute;
    background: #36e2ec;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;
}

header .player .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    top: -6.5px;
    left: -6px;
    box-shadow: 0px 0px 3px #36e2ec ;

}

header .songside::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 300px;  
}

header .songside nav{
    width: 90%;
    height: 10%;
    /*border: 1px solid #fff;*/
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .songside nav ul{
    display: flex;
}

header .songside nav ul li{
    list-style: none;
    position: relative;
    font-size: 13px;
    color: #4c5262;
    margin-right: 25px;
    cursor: pointer;
    transition: .3s linear;
}

header .songside nav ul li:hover{
    color: #fff;
}

header .songside nav ul li:nth-child(1){
    color: #fff;
}
header .songside nav ul li span{
    width: 100%;
    position: absolute;
    background: #36e2ec;
    height: 2.5px;
    bottom: -5px;
    left: 0px;
    border-radius: 20px;
}

header .songside nav .searchicon{
    position: relative;
    width: 40%;
    padding: 1px 10px ;
    border-radius: 20px;
    /*border: 1px solid #fff;*/
    color: gray;
}
header .songside nav .searchicon::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(184, 184, 184, .1);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    z-index: -1;
}

header .songside nav .searchicon .bi{
    font-size: 13px;
    padding: 3px 3px 0px 10px;
}
header .songside nav .searchicon input{
    background: none;
    border: none;
    outline: none;
    padding: 0px 10px;
    color: #fff;
    font-size: 12px;
}

header .songside .popular_song{
    width: 90%;
    height: auto;
    margin: auto;
    padding-top: 20px ;
    margin-top: 130px;
}
header .songside .popular_song .h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .songside .popular_song .h4 .bi{
    color: #a4a8b4;
    cursor: pointer;
    transition: .3s linear;

}

header .songside .popular_song .h4 .bi:hover{
    color: #fff;
}

header .songside .popular_song .popsong{
    width: 100%;
    height: 150px;
    margin-top: 15px;
    display: flex;
    overflow: auto;
    scroll-behavior: smooth;

}
header .songside .popular_song .popsong::-webkit-scrollbar{
   display: none;
}

header .songside .popular_song .popsong li{
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-right: 10px;
    transition: .3s linear;
}
header .songside .popular_song .popsong li:hover{
    background: rgb(105, 105, 170, .1);
}
header .songside .popular_song .popsong li .img_play{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}

header .songside .popular_song .popsong li .img_play img{
    width: 100%;
    height: 100%;

}
header .songside .popular_song .popsong li .img_play .bi{
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    transition: .3s linear;
    opacity: 0;

}
header .songside .popular_song .popsong li:hover .img_play .bi{
    opacity: 1;

}
header .songside .popular_song .popsong li h5{
    margin: 5px 0px 0px 5px;
    line-height: 15px;
    font-size: 10px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
header .songside .popular_song .popsong li h5 .subtitle{
    font-size: 9px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #4c5262;

}

